namespace MyProjectDavitKldiashvili.Views.Home.Person
@model MyProjectDavitKldiashvili.Models.PersonModel


<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Person</h2>
            <hr />
             </div>
        @*<div class="mb-3">
            <label asp-for="Id"></label>
            <input asp-for="Id" class="form-control" />
        </div>*@
        </div>
        <div class="mb-3">
            <label asp-for="Id"></label>
            <input asp-for="Id" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DateOfBirth"></label>
            <input asp-for="DateOfBirth" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Image"></label>
            <input asp-for="Image" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Language"></label>
            <input asp-for="Language" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="PersonalNumber"></label>
            <input asp-for="PersonalNumber" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="OrganizationId"></label>
            <input asp-for="OrganizationId" class="form-control" />
        </div>
       @* <div class="mb-3">
            <label asp-for="Organization"></label>
            <input asp-for="Organization" class="form-control" />
        </div>*@
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Person" asp-action="AllPersons" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
    </form>